@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-image: url('bo_play.png');
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}

.container {
  background: black;
  margin: 10% 18% 18%;
  padding: 0em 1em 2em;
  height: 35em;
  width: 700px;
  color: white;
}

#headerwrapper {
  text-align: center;
}

#header {
  display: inline-block;
}

#header h1 {
  font-size: 30px;
}

svg {
  background-color: yellow;
}

#scoreboard {
  background: black;
  display: inline-block;
  float: right;
  width: 25%;
  height: 75px;
  padding: 15px 0px;
}

#scoreboard ul li {
  margin-top: 8px;
  list-style-type: none;
  text-align: left;
}

#scoreboard ul {
  padding-left: 20px;
  padding-right: 10px;
}