@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-image: url('bo_play.png');
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}

.container {
  background: white;
  margin: 10% 18% 18%;
  padding: 2em 2em;
  height: 33em;
  width: 700px;
}

#header {
  display: inline-block;
  float: left;
}

#scoreboard {
  background: rgb(221,221,221);
  display: inline-block;
  float: right;
  width: 25%;
  height: 75px;
  padding: 15px 0px;
}

#scoreboard li {
  margin-top: 8px;
}